/* font added from google */
* {
    font-family: 'Work Sans', sans-serif;

}

* {
    margin: 0;
    padding: 0;
}

/* header styles */
.header {
    background-image: url(../images/banner/banner1.png);
    background-position: center;
    background-repeat: no-repeat;
    margin-left: auto;
    max-width: 100%;
    padding-right: 230px;
    text-align: right;
    background-size: cover;
    padding-bottom: 130px;

}

.header-title {
    padding-bottom: 25px;
    font-size: 65px;
    font-weight: 400;
    max-width: 525px;
    margin-left: auto;
}

.header-details {
    max-width: 525px;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 30px;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.header-button {
    background-color: #F15B22;
    border-radius: 5px;
    height: 64px;
    border: 0;
    padding: 20px 25px;
}

div.failures {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 100px;
}

.failure-right {
    max-width: 416px;

}

.failure-right h2 {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #151414;
    /* max-width: 416px; */
    padding-bottom: 18px;
}

.failure-right ul {
    margin-top: 20px;
}

.failure-right p,
.failure-right ul li {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
}

.failure-right ul li {
    list-style-image: url('../images/icons/001-checkmark.png');

}

div.my-plans {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 230px;
    padding: 25px 230px;
}


.my-plan-block  img {
    width: 93px;
    height: 93px;
  }
.part-heading {
    text-align: center;
}
.call-now-section{
    width: 80%;
    overflow: hidden;
    margin: auto;
    border-radius: 20px;
    margin-bottom: 50px;
}
.call-now {
    background-image: url(../images/watch.png);
    position: relative;
    background-repeat: no-repeat;
    padding: 0 230px;
    min-height: 300px;
    text-align: left;
    padding-top: 50px;
    background-size: cover;
    /* overflow: hidden; */

}

.call-now-btn {
    padding: 20px;
    background-color: white;
    text-decoration-color: #F15B22;
    border-radius: 5px;
    border: none;
    margin-left: 40px;
    /* not working */
}

.call-now-inner {
    background-image: url('../images//gradient2.png');
    background-repeat: no-repeat;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-size: cover;
    /* right: 0; */
}

.positive {
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 40px;
}

.btn-txt {
    color: #F15B22;
}

.footer {
    background-color: #151414;
    color: #ffffff;
    display: flex;
    padding: 40px;
    justify-content: space-around;

}

.footer-left {
    max-width: 40%;
}

.footer-left p {
    margin-top: 20px;
}

.contact {
    text-decoration: none;
    display: flex;
    margin-top: 25px;

}

.contact li {
    margin-right: 10px;
    list-style: none;
}

.email {
    border-color: #ffffff;
    border-radius: 5px;
    padding: 15px;
}

.subscribe {
    color: #F15B22;
    padding: 5px;
}

.subscribe-btn {
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    display: block;
    margin-top: 10px;

}